body {
	margin:0; padding:0;
	font-family:Verdana, Sans-serif;
	font-size:8pt;
	text-align:center;
	color:red;
	background-color:#0099CC;
}


div.navigation-container {
	position:absolute;
	left:0px;
	top:30px;
	width:100%;
	height:25px;
	text-align:center;
	z-index:20;
}


		div.navigation-container div.logo {
			position:relative;
			top:0px;
			bottom:0px;
			margin:0 auto;
			width:780px;
			height:30px;
			text-align:left;
		}
		
				div.navigation-container div.logo img {
					height:22px;
					width:365px;
					border:0px;
				}
		



div.footer-container {
	position:absolute;
	left:0px;
	top:520px;
	bottom:0px;
	margin:0 auto;
	width:100%;
	height:30px;
	text-align:center;
}

		div.footer-container div.footer {
			position:relative;
			top:0px;
			bottom:0px;
			margin:0 auto;
			width:780px;
			height:35px;
			text-align:left;
		}

				div.footer-container div.footer a {
					color:#DDDDDD;
					font-size:10px;
					text-decoration:none;
					margin-right:10px;
				}

				div.footer-container div.footer a.flag {
				}

				div.footer-container div.footer a img {
					border:1px #DDDDDD solid;
				}


/*	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - >>
 *	CONTENT
 */

div.content-container {
	position:absolute;
	left:0px;
	top:65px;
	bottom:0px;
	margin:0 auto;
	width:100%;
	height:445px;
	text-align:center;
}


		div.content-container div.content {
			position:relative;
			top:0px;
			bottom:0px;
			margin:0 auto;
			width:780px;
			height:442px;
			text-align:left;
		}

		div.content-container div.content div.textbody {
			position:absolute;
			width:25%;
			height:380px;
		}

				div.content-container div.content div.textbody-1 {
					left:0px;
					border-right:1px #CCCCCC solid;
				}

				div.content-container div.content div.textbody-2 {
					left:25%;
					border-right:1px #CCCCCC solid;
				}

				div.content-container div.content div.textbody-3 {
					left:50%;
					border-right:1px #CCCCCC solid;
				}

				div.content-container div.content div.textbody-4 {
					left:75%;
				}

				div.content-container div.content div.textbody div.padding {
					padding:8px;
				}
		
		

a {
	color:#669900;	
}


h1.csc-firstHeader {
	font-size:11pt;
	margin-top:0px;
	margin-bottom:6px;
}

h1 {
	font-size:9pt;
	margin-top:0px;
	margin-bottom:6px;
}

h2 {
	color:#000000;
	font-size:9pt;
	margin-top:0px;
	margin-bottom:6px;
}

h3 {
	color:#669900;
	font-size:8pt;
	margin-top:12px;
	margin-bottom:3px;
}

p {
	line-height:12pt;
	text-align:justify;
	margin-top:0px;
	margin-bottom:0px;
}

div.image-left {
	padding-top:2px;
	float:left;
	margin-right:15px;
	margin-bottom:5px;
}

div.image-right {
	padding-top:2px;
	float:right;
	margin-left:15px;
	margin-bottom:5px;
}

p.imprint {
	font-family:Verdana, Sans-Serif;
	font-size:10px;
	color:#666666;
	margin-top:25px;
}

p.imprint a {
	font-family:Verdana, Sans-Serif;
	font-size:10px;
	color:#666666;
	text-decoration:none;
}





