@charset "utf-8";
@import url("style.reset.css");

/* CSS (print) *************************** */

body {padding:2em; font:14px/1.4em Arial,sans-serif; text-align:center; color:#000;}
a {color:#000; text-decoration:none;}

header {}
footer {margin:1em 0; padding:1em 0; border-top:1px dotted #000;}

header h1#title {font-size:3em; font-weight:bold;}
header h2, header h3 {font-size:1.5em; margin:1em 0;}

.hide {display:none;}
.print {display:block;}
.noprint {display:none;}